@{
    ViewData["Title"] = "Главная страница";
}

<div class="border border-1 border-secondary " style="border-radius: 20px">
<div class="d-flex mb-4 mt-4 p-2 align-items-center" style="width: 100%; ">
  <div id="carouselExampleControls" class="carousel slide w-50 d-flex align-items-center " style="min-height: 400px; border-radius: 20px" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://ethnomir.ru/upload/medialibrary/9d8/biblioteka_1.jpg" style="border-radius: 20px; min-height: 500px;"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.mos.ru/upload/newsfeed/newsfeed/chitaushii-gorod-sam(18).jpg" style="border-radius: 20px; min-height: 500px;"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img style="border-radius: 20px; min-height: 500px;"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Austria_-_Göttweig_Abbey_-_2015.jpg/800px-Austria_-_Göttweig_Abbey_-_2015.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
  </div>
  <div class="w-50 p-3">
    <div class="card-body">
      <h4 class="card-title">Добро пожаловать в наш книжный рай!</h4>
      <p class="card-text" style="font-size: 18px">На нашем сайте вас ждёт уникальный и обширный ассортимент книг на любой вкус. Мы гордимся тем, что предлагаем нашим клиентам лучшие произведения мировой литературы, редкие издания, новинки бестселлеров, учебные пособия и многое другое. Каждый книголюб найдёт здесь что-то особенное!</p>
      <h5 class="card-title">Почему выбирают нас?</h5>
    
      <ul class="list-group list-group-flush" style="font-size: 18px">
        <li class="list-group-item"><u>Широкий ассортимент</u>: От классики до современных авторов, от детских сказок до научных трудов.</li>
        <li class="list-group-item"><u>Выгодные цены</u>: Постоянные скидки и акции, а также бонусы для постоянных клиентов.</li>
        <li class="list-group-item"><u>Быстрая доставка</u>: Мы доставим вашу покупку в кратчайшие сроки по всей стране.</li>
      </ul>
    </div>
  </div>
  
</div>
<div class="card border border-0 border-secondary" style="width: 100%; border-radius: 10px;">
  <div class="card-body">
    <p class="card-text mb-4 text-center" style="font-size: 18px">Присоединяйтесь к нашему книжному сообществу и откройте для себя мир увлекательного чтения! Независимо от ваших литературных предпочтений, у нас всегда найдется что-то интересное для вас. Начните своё литературное путешествие прямо сейчас!</p>
    <h5 class="card-subtitle mt-4 mb-2 text-center">Ваше книжное приключение начинается здесь!</h5>
    <h6 class="card-subtitle  mb-4 text-muted text-center">BookStore – ваш партнёр в мире саморазвития и новых возможностей.</h6>
  </div>
</div>
</div>