@model Book

@if (Model.Id == null || Model.Id == 0)
{
    ViewData["Title"] = "Добавление книги";
    <h1 class="text-center">Добавление книги</h1>
}
else
{
    ViewData["Title"] = "Изменение книги";
    <h1 class="text-center">Изменение книги</h1>
}
<form asp-action="BookUpsert" method="post">
    <input asp-for="@Model.Id" hidden="hidden"/>
    <div class="w-100 d-flex justify-content-center">
        <div class="card w-75 mt-4">
            <div class="card-body">
                <div class="w-100 d-flex">
                    <div class="w-50" style="font-size: 20px">
                        <h3 class="card-title">Название книги</h3>
                        <input type="text" class="input-group  mt-2 mb-2" asp-for=@Model.Title value=@Model.Title/>
                        <h3 class="card-title">Описание книги</h3>
                        <textarea style="min-height: 150px; max-height: 150px" type="text" class="input-group  mt-2 mb-2" asp-for=@Model.Description value=@Model.Description></textarea>
                        <h3 class="card-title">Количество страниц</h3>
                        <input type="number" class="input-group   mt-2 mb-2" asp-for=@Model.PageCount  value=@Model.PageCount/>
                        <h3 class="card-title">Цена книги (руб.)</h3>
                        <input type="number" class="input-group    mt-2 mb-2" asp-for=@Model.Price value="@Model.Price"/>
                        <h3 class="card-title">Id Автора</h3>
                        <input type="number" placeholder="Id Автора" class="input-group  mt-2 mb-2" asp-for=@Model.Author.Id value=@Model.Author.Id/>
                    </div>
                    <div class="w-50 border-2 border ms-4">
                        <img src="/book.jpg" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="text-center w-100 mt-4">

                    <button type="submit" class="btn btn-primary  w-100 mb-2" style="font-size: 20px">Сохранить</button>
                    
                    <a asp-action="BookList" type="submit" style="font-size: 20px" class="btn btn-danger w-100 mb-2">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</form>